<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>987611935152-bvmpjods50dh8hsfr97vfage8smadltj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.987611935152-bvmpjods50dh8hsfr97vfage8smadltj</string>
	<key>API_KEY</key>
	<string>AIzaSyB0FVIq2isYBWZ_qxb9mCb7NmvheZ38bBw</string>
	<key>GCM_SENDER_ID</key>
	<string>987611935152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tuwaiq.Chat</string>
	<key>PROJECT_ID</key>
	<string>chatapp-25ad3</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-25ad3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:987611935152:ios:1ea564abb2c604b3486675</string>
</dict>
</plist>